# Environment variables
.env

# Virtual environment
venv/
venv
.venv/
.venv

# Python cache
__pycache__/
*.py[cod]

# Cache temporary files
cache/*.tmp
cache/run_*.json

# Testing cache
.pytest_cache/
